<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Nossos Produtos</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Nossos Produtos</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <section>

            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Faça já sua encomenda</h2>
                    </div>

                    <p class="lead"><i class="fa fa-whatsapp" aria-hidden="true"></i> 41 96937334</p>
                </div>
            </div>
 -->
            <div class="row portfolio">

                <div class="col-sm-6 col-md-3">
                    <div class="box-image">
                        <div class="image">
                            <%= thumb_tag 'bolokitkat.jpg','750x500#', class:"img-responsive" %>
                        </div>
                        <div class="bg"></div>
                        <div class="name">
                            <h3><%= link_to "Bolos", tag_path("bolos",'produtos')%></h3>
                        </div>
                        <div class="text">
                            <p class="hidden-sm hidden-lg hidden-md">Os mais deliciosos bolos da cidade irão fazer da sua festa um sucesso.</p>
                            <p class="buttons">
                                <%= link_to 'Confira', tag_path('bolos', 'produtos'), class:"btn btn-template-transparent-primary" %>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image -->

                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="box-image">
                        <div class="image">
                            <%= thumb_tag 'brigadeiros.jpg', '750x500#', class:"img-responsive" %>
                        </div>
                        <div class="bg"></div>
                        <div class="name">
                            <h3><%= link_to "Brigadeiros", tag_path("brigadeiros",'produtos')%></h3>
                        </div>
                        <div class="text">
                            <p class="hidden-sm hidden-lg hidden-md">Escolha até cinco sabores diferentes de brigadeiro e monte sua caixa.</p>
                            <p class="buttons">
                                <%= link_to 'Confira', tag_path('brigadeiros','produtos'), class:"btn btn-template-transparent-primary" %>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image -->

                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="box-image">
                        <div class="image">
                            <%= thumb_tag 'cursos.jpg','750x500#', class:"img-responsive" %>
                        </div>
                        <div class="bg"></div>
                        <div class="name">
                            <h3><%= link_to "Cursos", tag_path("cursos",'produtos')%></h3>
                        </div>
                        <div class="text">
                            <p class="hidden-sm hidden-lg hidden-md">Desenvolva técnicas avançadas e torne-se um mestre na confeitaria.</p>
                            <p class="buttons">
                                <%= link_to 'Confira', tag_path('cursos','produtos'), class:"btn btn-template-transparent-primary" %>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image -->

                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="box-image">
                        <div class="image">
                            <%= thumb_tag 'mesa-festa.jpg','750x500#', class:"img-responsive" %>
                        </div>
                        <div class="bg"></div>
                        <div class="name">
                            <h3><%= link_to "Lembrancinhas", tag_path("lembrancinhas",'produtos')%></h3>
                        </div>
                        <div class="text">
                            <p class="hidden-sm hidden-lg hidden-md">Surpreenda seus convidados com as lembrancinhas mais gostosas.</p>
                            <p class="buttons">
                                <%= link_to 'Confira', tag_path('lembrancinhas','produtos'), class:"btn btn-template-transparent-primary" %>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image -->
                </div>

            </div>

        </section>

    </div>
    <!-- /.container -->
    <div id="get-it">
        <div class="container encomenda">
            <div class="col-md-8 col-sm-12">
                <h3>Faça sua encomenda</h3>
            </div>
            <div class="col-md-4 col-sm-12">

                <h4><i class="fa fa-whatsapp" aria-hidden="true"></i> 41 96937334 </h3>
                <h5><i class="fa fa-envelope" aria-hidden="true"></i> adm@sweetjoy.com.br </h3>

            </div>
        </div>
    </div>
    <!-- /.bar -->
</div>

