---
title: Sweet Joy por Joy Alves
---

<section>
    <!-- *** HOMEPAGE CAROUSEL ***
_________________________________________________________ -->
    <div class="home-carousel">

        <div class="dark-mask"></div>

        <div class="container full-width">
            <div class="homepage owl-carousel">
                <div class="item item-carousel" style="background: url('images/brigadeirovo1.jpg') center center repeat;background-size: cover"">
                    <div class="row">
                        <div class="col-sm-5 text-center">
                          <% link_to category_path('pascoa','produtos') do %>
                            <div class = background-opacity>
                              <div class='titulo-banner'>
                                <h1 class="item1">Páscoa</h1>
                                <p>Conheça o brigadeirovo, uma delícia de 420 gramas de chocolate recheado com brigadeiro cremoso.</p>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-sm-7">
                            <!-- <img class="img-responsive" src="img/template-easy-customize.png" alt=""> -->
<!--                             <%= image_tag "template-easy-customize.png", class:"img-responsive" %> -->
                        </div>
                    </div>
                </div>
                <div class="item item-carousel" style="background: url('images/brownies.jpg') center center repeat;background-size: cover"">
                    <div class="row">

                        <div class="col-sm-3 text-center">
                            <!-- <img class="img-responsive" src="img/template-mac.png" alt=""> -->
                            <!-- <%= image_tag "template-mac.png", class:"img-responsive" %> -->
                        </div>

                        <div class="col-sm-9 text-center">
                          <% link_to category_path('lembrancinhas','produtos') do %>
                            <div class = background-opacity>
                              <div class='titulo-banner'>
                                <h1 class="item1">Lembrancinhas</h1>
                                <p>Nossos doces personalizados para sua festa ou evento.</p>
                              </div>
                            </div>
                          <% end %>
                        </div>

                    </div>
                </div>

                <div class="item item-carousel" style="background: url('/images/brigadeiros.jpg') center center repeat;background-size: cover"">
                    <div class="row">
                        <div class="col-sm-7">
                            <!-- <img class="img-responsive" src="img/template-easy-code.png" alt=""> -->
                            <!-- <%= image_tag "template-easy-code.png", class:"img-responsive" %> -->
                        </div>
                        <div class="col-sm-5 text-center">
                          <% link_to category_path('brigadeiros','produtos') do %>
                            <div class = background-opacity>
                              <div class='titulo-banner'>
                                <h1 class="item1">Brigadeiros</h1>
                                <p>16 sabores diferentes.
                                    <br />Eleito o melhor de Curitiba pela Revista Veja.</p>
                              </div>
                            </div>
                          <% end %>
                        </div>
                    </div>
                </div>
                <div class="item item-carousel" style="background: url('images/bolokitkat.jpg') center center repeat;background-size: cover">
                    <div class="row">
                        <div class="col-sm-5 text-center">
                          <% link_to category_path('bolos','produtos') do %>
                            <div class = background-opacity>
                              <p>
  <!--                                 <%= image_tag "logo.png", style:'center'%> -->
                              </p>
                              <div class='titulo-banner'>
                                <h1 class='item1'>Bolos</h1>
                               </div>
                              <p>Os bolos mais deliciosos de Curitiba.</p>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-sm-7">
                            <!-- <img class="img-responsive" src="img/template-homepage.png" alt=""> -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>

    <!-- *** HOMEPAGE CAROUSEL END *** -->
</section>

<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                  <% link_to '/produtos' do %>
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                        <h3>Encomenda de Doces</h3>
                        <p>Brigadeiros, bolos e outros docinhos para festa. Faça sua encomenda</p>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <% link_to blog("produtos").articles.select{ |i| i.data.nome == "Curso de Confeitaria Basico" }.first.url do %>
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3>Cursos</h3>
                        <p>Cursos de confeitaria com a Chef Joy Alves</p>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <% link_to "/sobre-nos" do %>
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <h3>100% Satisfação Garantida</h3>
                        <p>A sua satisfação é a nossa prioridade máxima.</p>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- /.bar -->

<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-gift"></i>
                </div>
                <h3 class="text-uppercase">Promoção: Pague 2 e Leve 3</h3>
                <p class="lead">Pague 2 e leve 3 Brigadeirovos de 420 gramas.</p>
                <p class="text-center">
                  <%= link_to "Confira", blog("produtos").articles.select{ |i| i.data.nome == "Brigadeirovo" }.first.url, class:"btn btn-template-transparent-black btn-lg" %>
                </p>
            </div>

        </div>
    </div>
</section>
<div class="heading text-center">
  <h2>Nossos Produtos</h2>
</div>
<%=partial "portfolio"%>
<!-- *** GET IT ***
_________________________________________________________ -->

<!-- <div id="get-it">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <h3>Do you want cool website like this one?</h3>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="#" class="btn btn-template-transparent-primary">Buy this template now</a>
        </div>
    </div>
</div> -->


<!-- *** GET IT END *** -->



